<% errors.forEach( (err) => { %>
    <div class = "alert alert-danger text-small"><%= err  %></div>
  <% } ) %>
  
  <% success.forEach( (err) => { %>
    <div class = "alert alert-success text-small"><%= err  %></div>
  <% } ) %>  